@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital@1&display=swap');
body{
    background-color: hsl(207, 79%, 72%);
    background-position: static;
    background-size: 99%;
}

#number {
    color: greenyellow;
    background-color: hsl(120, 100%, 10%);
    border: none;
    font-family: 'Share Tech Mono', monospace;
    font-size : large;
}

#calculate {
    color: greenyellow;
    background-color: hsl(120, 100%, 10%);
    font-family: 'Share Tech Mono', monospace;
    font-size: larger;
    border: 1px solid greenyellow;
}

.header{
    width: 75%;
    height: 40%;
    margin-left: 12%;
    background-color:antiquewhite;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1.5%;
    padding-bottom: 0px;

}

.headerarticle {

    border: 1px solid antuquewhite;
    height: 80%;
    border-radius: 40px;
    background-color: hsl(120, 100%, 10%);
    color: greenyellow;
    font-family: 'Share Tech Mono', monospace;
    padding: 1.5%;
}

.chalkboard {
    width: 50%;
    margin-left: 24%;
    margin-right: 24%;
    border: 5px solid chocolate;
    border-bottom: 20px solid sienna;
    background-color: darkslategrey;
    padding: 25px;
    color: white;
    font-family: 'Mali', cursive;
    font-size: larger;
    text-align: center;
}

.logo{
    
    text-align: center;
    margin-left: 70%;
    margin-right: 3%;
    font-family: "Exo", sans-serif;
    background: darkgrey;
    color: hsl(340, 100%, 35%);
    border: 1px solid rgb(77, 32, 0);
    border-radius: 15px;
}